body {
  background-color: linen;
}

h1 {
  color: navy;
  margin-left: 20px;
	transition: letter-spacing 3s;	
	letter-spacing: default;
}

h1:hover {
	transition: letter-spacing 3s;
	letter-spacing: 3px;
}

h2 {
	color: darkslategrey;
	margin-left: 40px;
}

button:hover {
	background-color: green;
}

a {
	/*Causes hover off transitions to occur*/
	transition: all 3s;
}
a:hover {
	transition-property: color;
	transition-duration: 3s;
	/*font-weight: bold;*/
	color: blue;
}

@keyframes pulse {
	from	{text-shadow:0px 0px 0px #000;}
	to		{text-shadow:0px 0px 5px #000;}
}

h3 {
	animation: pulse 2s infinite alternate;
}
